@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
	--color-primary: #2e8b57;
	--color-secondary: #50c878;
	--color-accent: #ff8c00;
	--color-accent2: #ea580c;
	--color-gray: #767676;
	--color-light: #f8f8f8;
	--color-light2: #f0f4f8;

	--layout-width: 1390px;
}

body {
	@apply font-sans;
  }